<div class="cover-user-show">
  <div class="container d-flex flex-column align-items-center">
    <div class="row mt-5">
      <% if user_signed_in? && @user == current_user %>
       <h1 class="font-weight-normal">マイページ</h1>
      <% else %>
       <h1 class="font-weight-normal"><%= @user.name %>さんのページ</h1>
      <% end %>
      <% if current_user != @user %>
      <% if current_user.following?(@user) %>
        <p class="d-flex align-self-end">
          <%= link_to 'フォロー外す', user_relationships_path(@user.id),  data: { turbo_method: :delete }, class: "btn btn-danger" %>
        </p>
        <% else %>
        <p class="d-flex align-self-end">
          <%= link_to 'フォローする', user_relationships_path(@user.id),  data: { turbo_method: :post }, class:"btn btn-success" %>
        </p>
      <% end %>
    <% end %>
    <div class="d-flex">
      <%= link_to follows_user_path(@user) do %>
        <h6>フォロー<%= @following_users.count %></h6>
      <% end %>  
      <%= link_to followers_user_path(@user) do %>
        <h6>フォロワー<%= @follower_users.count %></h6>
      <% end %>
    </div>
    </div>
    <div class="row mt-5 index-left w-100">
      <% @outputs.each do |output| %>
        <div class="one-post col-sm-3 mb-3">
          <%= link_to output_path(output) do %>
            <%= image_tag output.image, size: '200x133' if output.image.attached? %>
            <p class="caption mb-0"><%= output.book_name %></p>
            <p class="caption"><%= "#{output.comments.count} コメント" %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= paginate @outputs %>
  </div>
</div>