<%= form_with(model: output, local: true) do |f| %> 
  <% if output.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(output.errors.count, "error") %> prohibited this output from being saved:</h2>
      <ul>
        <% output.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group"> # 本の名前を入力する
    <%= f.label :book_name, '本の名前' %>
    <%= f.text_field :book_name, class: 'form-control' %>
  </div>

  <div class="form-group"> # カテゴリーを選択する
    <%= f.label :category_id, 'カテゴリー' %>
    <%= f.collection_select :category_id, @categories, :id, :name, 
        { include_blank: 'カテゴリーを選択してください' }, 
        { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.label :output, 'アウトプット' %>
    <%= f.text_area :output, class: 'form-control', rows: 5 %>
  </div>

  <div class="form-group mt-3">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %> 