<h1>新規アウトプット作成</h1>

<%= form_with(model: @output, local: true) do |f| %>
  <div class="field">
    <%= f.label :book_name, '本の名前' %>
    <%= f.text_field :book_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :output, 'アウトプット' %>
    <%= f.text_area :output, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :category_id, 'カテゴリー' %>
    <%= f.collection_select :category_id, @categories, :id, :name, { prompt: 'カテゴリーを選択してください' }, { class: 'form-control' } %>
  </div>

  <div class="actions mt-3">
    <%= f.submit '作成', class: 'btn btn-primary' %>
  </div>
  <% if @output.errors.any? %>
    <div class="alert alert-danger mt-3">
      <h4><%= @output.errors.count %>件のエラーが発生しました</h4>
      <ul>
        <% @output.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<%= link_to '戻る', outputs_path, class: 'btn btn-secondary' %> 