<div class="container mt-4">
  <h1>アウトプット詳細</h1>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @output.book_name %></h5>
      <p class="card-text"><%= @output.output %></p>
      <p class="card-text">
        <small class="text-muted">カテゴリー: <%= @output.category.name %></small>
      </p>
      <% if @output.favorited_by?(current_user) %>
        <%= link_to output_favorites_path(@output),  data: { turbo_method: :delete }, class: "favorite_btn" do %>
          ♥<%= @output.favorites.count %> いいね
        <% end %>
      <% else %>
        <%= link_to output_favorites_path(@output),  data: { turbo_method: :post }, class: "favorite_btn" do %>
          ♡<%= @output.favorites.count %> いいね
        <% end %>
      <% end %>
     </p>
    </div>
  </div>
  <div class="mt-3">
  <% if @output.user == current_user %>
    <%= link_to '編集', edit_output_path(@output), class: 'btn btn-primary' %>
    <%= link_to '削除', output_path(@output.id), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？"} %><br>
  <% end %>
    <%= link_to '一覧に戻る', outputs_path, class: 'btn btn-secondary' %>
  </div>
  <% if @comment.errors.any? %>
    <div class="alert alert-danger mt-3">
      <h4><%= @comment.errors.count %>件のエラーが発生しました</h4>
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="container d-flex mt-5">
  <div class="comments ml-5 mt-5">
    <% if @output.present? %>
      <%= form_with(model: [@output, @comment], local: true) do |f| %>
        <%= f.text_area :comment, size: "60x3", placeholder: "コメントする" %>
        <%= f.submit "送信する", class: "btn btn-success mb-4" %>
      <% end %>
    <% else %>
      <p>投稿が見つかりませんでした。</p>
    <% end %>

    <p>コメント件数：<%= @comments.count %></p>
    <% @comments.each do |comment| %>
      <div class="comments-index mb-2">
        <%= comment.user.name %>
        <%= comment.created_at.strftime('%Y/%m/%d') %><br>
        <div class="d-flex">
          <%= comment.comment %>
          <% if comment.user == current_user %>
            <div class="comment-delete">
              <%= link_to "削除", output_comment_path(comment.output, comment), data: { turbo_method: :delete }, class: "btn-sm btn-danger" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= paginate @comments %>
  </div>
</div> 